<!DOCTYPE html>
<html>
<head>
  <title>Nback</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="container-fluid">
  <div id="header" class="row-fluid">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">a<strong>N</strong>imal-Back</a>
        <ul class="nav">
          <li id="game-tab"><a href="#">The Game</a></li>
          <li id="instructions-tab"><a href="#/instructions">Instructions</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="alerts" class="row-fluid span12">
   <%= notice %><%= alert %>
   <!-- not sure if htis works -->
  </div>

<%= yield %>

</body>
</html>
